
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-header">
                        <form>
                            <div class="input-group mb-3">
                                <div class="row mb-2">
                                    <div class="col-6">

                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder="Empresa">
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <span class="fas fa-hashtag" style="color: rgb(48, 37, 37);"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder="Empresa">
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <span class="fas fa-hashtag" style="color: rgb(48, 37, 37);"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder="Empresa">
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <span class="fas fa-hashtag" style="color: rgb(48, 37, 37);"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder="Empresa">
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <span class="fas fa-hashtag" style="color: rgb(48, 37, 37);"></span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-6">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder="Empresa">
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <span class="fas fa-hashtag" style="color: rgb(48, 37, 37);"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder="Empresa">
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <span class="fas fa-hashtag" style="color: rgb(48, 37, 37);"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder="Empresa">
                                            <div class="input-group-append">
                                                <div class="input-group-text">
                                                    <span class="fas fa-hashtag" style="color: rgb(48, 37, 37);"></span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <input class="form-control filter" type="text" placeholder="Buscar">
                                <span class="info-container">
                                    <sub class="info">Mostrando 5 elementos</sub>
                                </span>
                                <select name="" id="" multiple="multiple" class="form-control">
                                    <option value="">leche</option>
                                    <option value="">leche</option>
                                    <option value="">leche</option>
                                    <option value="">leche</option>
                                    <option value="">leche</option>
                                    <option value="">leche</option>
                                    <option value="">leche</option>
                                    <option value="">leche</option>
                                    <option value="">leche</option>
                                    <option value="">leche</option>
                                    <option value="">leche</option>
                                    <option value="">leche</option>
                                    <option value="">leche</option>
                                    <option value="">leche</option>
                                    <option value="">leche</option>
                                </select>
                            </div>
                            <div class="col-8 table-responsive">
                                <table style="width: 100%; border: 1px solid #ccc; text-align: center; font-size: 14px;">
                                    <thead>
                                        <tr>
                                            <th style="border: 1px solid #ccc;">#</th>
                                            <th style="border: 1px solid #ccc;">Código</th>
                                            <th style="border: 1px solid #ccc;">Artículo</th>
                                            <th style="border: 1px solid #ccc;">P.U</th>
                                            <th style="border: 1px solid #ccc;">Cant.</th>
                                            <th style="border: 1px solid #ccc;">Desc.</th>
                                            <th style="border: 1px solid #ccc;">V. total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="border: 1px solid #ccc;">1</td>
                                            <td style="border: 1px solid #ccc;">001</td>
                                            <td style="border: 1px solid #ccc;">Leche</td>
                                            <td style="border: 1px solid #ccc;">1,00</td>
                                            <td style="border: 1px solid #ccc;">5</td>
                                            <td style="border: 1px solid #ccc;">0,00</td>
                                            <td style="border: 1px solid #ccc;">5,00</td>
                                        </tr>
                                        

                            
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer">
                        <div class="row">

                            <div class="col-6">
                                
                            </div>

                            <div class="col-6">
                                <div class="input-group">
                                    <label style="font-size: 14px;text-align: end;" class="form-control">Subtotal</label>
                                    <input style="font-size: 14px;" type="text" class="form-control" placeholder="dats">
                                </div>
                                <div class="input-group">
                                    <label style="font-size: 14px;text-align: end;" class="form-control">Subtotal</label>
                                    <input style="font-size: 14px;" type="text" class="form-control" placeholder="dats">
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>