<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <button type="button" class="btn btn-primary" routerLink="/compras/registrar">
                            <i class="fas fa-plus"></i> Agregar
                        </button>
                    </div>

                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Fecha</th>
                                    <th>Factura No.</th>
                                    <th>Forma de pago</th>
                                    <th>Estado</th>
                                    <th>Valor</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of compras; let i = index;">
                                    <td>{{i+1}}</td>
                                    <td>{{item.fecha_emision}}</td>
                                    <td>{{item.num_factura}}</td>
                                    <td>{{item.forma_pago}}</td>
                                    <td>{{item.estado_compra}}</td>
                                    <td>{{item.total_compra}}</td>
                                    <td>
                                        <button class="btn btn-danger btn-xs mr-2" (click)="deleteCompra(item.id)"><i class="fas fa-trash-alt"></i></button>
                                        <button (click)="getCompraDetalle(item.id)" data-toggle="modal" data-target="#factura" class="btn btn-info btn-xs">
                                            <i class="fas fa-eye"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!--Modal Factura-->
                <div class="modal fade" id="factura" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Compra registrada</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="invoice-header p-1 bg-dark">
                                    <div class="row">
                                        <div class="col-12">
                                            <h4>
                                                FACTURA NO. {{facturaCompra[3]}}

                                            </h4>
                                            <p>Fecha y Hora de ingreso: {{facturaCompra[1] | date:'dd/MM/yyyy HH:mm:ss'}}</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="invoice-info">
                                    <table class="table table-bordered text-sm">
                                        <tr>
                                            <td>
                                                <strong>Emisor:</strong><br>
                                                {{proveedor[6]}}<br>
                                                {{proveedor[8]}}<br>
                                                {{proveedor[7]}}<br>
                                                {{proveedor[10]}}
                                            </td>
                                            <td>
                                                <strong>Cliente:</strong><br>
                                                {{usuario[5]}}<br>
                                                Direccion<br>
                                                Ciudad<br>
                                                {{usuario[9]}}<br>
                                                
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="invoice-details">
                                    <table class="table table-bordered text-sm">
                                        <thead class="bg-dark">
                                            <tr>
                                                <th>Código</th>
                                                <th>Descripción</th>
                                                <th>Cantidad</th>
                                                <th>Precio Unitario</th>
                                                <th>Descuento(%)</th>
                                                <th>Subtotal</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of facturaCompra[13]">
                                                <td>{{item.codigo_producto}}</td>
                                                <td>{{item.nombre_producto}}</td>
                                                <td>{{item.cantidad}}</td>
                                                <td>{{item.precio_compra | currency}}</td>
                                                <td>{{item.descuento/100 | percent}}</td>
                                                <td>{{item.subtotal | currency}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="invoice-summary">
                                    <table class="table text-sm">
                                        <tr>
                                            <th>Subtotal 15%:</th>
                                            <td>{{total / 1.15 | currency}}</td>
                                        </tr>
                                        <tr>
                                            <th>IVA 15%:</th>
                                            <td>{{(total / 1.15) * 0.15 | currency}}</td>
                                        </tr>
                                        <tr>
                                            <th>Total:</th>
                                            <td>{{total | currency}}</td>
                                        </tr>
                                    </table>
                                </div>


                                <div class="invoice-footer text-xs">
                                    <p>Este documento no tiene valor comercial</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!--Modal Factura-->
            </div>
        </div>
    </div>
</section>
