<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <button type="button" class="btn btn-primary" routerLink="/compras/registrar">
                            <i class="fas fa-plus"></i> Agregar
                        </button>
                    </div>

                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Fecha</th>
                                    <th>Factura No.</th>
                                    <th>Proveedor</th>
                                    <th>Forma de pago</th>
                                    <th>Estado</th>
                                    <th>Valor</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of compras; let i = index;">
                                    <td>{{i+1}}</td>
                                    <td>{{item.fecha_emision}}</td>
                                    <td>{{item.num_factura}}</td>
                                    @for (prov of proveedores; track prov.id) {
                                        <td *ngIf="prov.id === item.distribuidor_id">{{prov.nombres_completos}}</td>
                                    }
                                    <td>{{item.forma_pago}}</td>
                                    <td>{{item.estado_compra}}</td>
                                    <td *ngIf="item.total_compra">{{item.total_compra}}</td>
                                    <td>
                                        <button class="btn btn-danger btn-xs mr-2"><i class="fas fa-trash-alt"></i></button>
                                        <button data-toggle="modal" data-target="#factura" class="btn btn-info btn-xs"><i class="fas fa-eye"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--Modal Factura-->
                <div class="modal fade" id="factura" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Detalles de compra</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>

                                    <!--Nombre del almacen-->
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-check" style="color: rgb(48, 37, 37);"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <!--Botones de control-->
                                    <div class="row">
                                        <div class="modal-footer justify-content-between">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                            <button type="button" class="btn btn-info">Imprimir</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Modal Factura-->
            </div>
        </div>
    </div>
</section>
