<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <button type="button" class="btn btn-primary" routerLink="/ventas/registrar">
                            <i class="fas fa-plus"></i> Agregar
                        </button>
                    </div>

                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped text-sm">
                            <thead class="bg-dark text-white">
                                <tr>
                                    <th>#</th>
                                    <th>Fecha</th>
                                    <th>Factura No.</th>
                                    <th>Forma de pago</th>
                                    <th>Estado</th>
                                    <th>Valor</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of ventas; let i = index;">
                                    <td>{{i+1}}</td>
                                    <td>{{item.fecha_emision}}</td>
                                    <td>{{item.num_factura}}</td>
                                    <td>{{item.forma_pago}}</td>
                                    <td>{{item.estado_venta}}</td>
                                    <td>{{item.total_venta | number:'1.2-2'}}</td>
                                    <td>
                                        <button class="btn btn-danger btn-xs mr-2"><i class="fas fa-trash-alt" (click)="deleteVenta(item.id)"></i></button>
                                        <button (click)="getVentaDetalle(item.id)" data-toggle="modal" data-target="#factura" class="btn btn-info btn-xs">
                                            <i class="fas fa-eye"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--Modal Factura-->
                <div class="modal fade" id="factura" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            
                            <div class="modal-body">
                            
                                <div class="invoice-info">
                                    <div class="row">
                                        <div class="col-md-6 text-xs">
                                            <div  style="width: 190px;height: 190px;">
                                                <img src="../../assets/dist/img/AdminLTELogo.png" style="width: 100%;">
                                            </div>
                                            <div>
                                                <h6><strong>{{currentUser.nombres_completos | uppercase}}</strong></h6>
                                                <P><strong>{{currentUser.nombres_completos | uppercase}}</strong></P>
                                                <p><strong>DIRECCIÓN MATRIZ: </strong>{{currentUser.direccion | uppercase}}</p>
                                                <p><strong>DIRECCIÓN SUCURSAL: </strong></p>
                                                <p><strong>OBLIGADO A LLEVAR CONTABILIDAD</strong> NO</p>
                                            </div>
                                        </div>
                                        <div class="col-md-6 text-xs">
                                            <h5><strong>R.U.C </strong>{{currentUser.numero_documento}}</h5>
                                            <h6><strong>FACTURA</strong></h6>
                                            <p><span>NO. </span>{{ventaDetalle.num_factura}}</p>
                                            <h6><strong>NÚMERO DE AUTORIZACIÓN</strong></h6>
                                            <p>123456789987654123654987</p>
                                            <h6><strong>FECHA Y HORA DE AUTORIZACIÓN</strong></h6>
                                            <p>{{ventaDetalle.createdAt | date: 'mediumDate'}} | {{ventaDetalle.createdAt | date: 'mediumTime'}}</p>
                                            <p><strong>AMBIENTE: </strong>PRODUCCIÓN</p>
                                            <p><strong>EMISIÓN: </strong>NORMAL</p>
                                            <p><strong>CLAVE DE ACCESO</strong></p>
                                            <span>5487412541236987412541252369855</span>
                                        </div>
                                    </div>
                                    
                                </div>

                                <div class="invoice-details">
                                    
                                    <table class="table-bordered text-xs w-100 mt-1">
                                      
                                        <tr>
                                            <th>Nombres / Razón social:</th>
                                            <td>{{cliente.razon_social}}</td>
                                            <th>R.U.C / C.I:</th>
                                            <td>{{cliente.numero_documento}}</td>
                                        </tr>
                                        <tr>
                                            <th>Fecha emsión: </th>
                                            <td>{{fechaEmision}}</td>
                                            <th>Guía de remisión: </th>
                                            <td></td>
                                        </tr>
                        
                                    </table>

                                    <table class="table-bordered text-xs text-center w-100 mt-2 mb-2">
                                        <thead>
                                            <tr>
                                                <th>Código</th>
                                                <th>Descripción</th>
                                                <th>Cantidad</th>
                                                <th>Precio Unitario</th>
                                                <th colspan="2">Descuento(%)</th>
                                                <th>Subtotal</th>
                                            </tr>
                                        </thead>
                                        <tbody >
                                            <tr *ngFor="let item of ventaDetalle.detVentas">
                                                <td>{{item.codigo_producto}}</td>
                                                <td>{{item.nombre_producto}}</td>
                                                <td>{{item.cantidad}}</td>
                                                <td>$ {{item.precio_venta}}</td>
                                                <td>{{(100 * item.descuento) / (item.precio_venta * item.cantidad)}} %</td>
                                                <td>$ {{item.descuento}}</td>
                                                <td>$ {{item.subtotal}}</td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div>
                                            
                                            <table class="table-bordered text-xs w-100">
                                                <thead>
                                                    <tr>
                                                        <th>Forma de pago</th>
                                                        <th>Valor</th>
                                                        <th>Plazo</th>
                                                        <th>Tiempo</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Sin utilizar el sistema financiero</td>
                                                        <td>{{0 | currency}}</td>
                                                        <td>0</td>
                                                        <td>0 días</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div>
                                            <h6 class="text-xs mt-2"><strong>Información adicional</strong></h6>
                                            <table class="table-bordered text-xs w-100 mb-1">
                                                <tr>
                                                    <th>Dirección:</th>
                                                    <td>{{cliente.direccion}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Teléfono:</th>
                                                    <td>{{cliente.telefono}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Correo electrónico</th>
                                                    <td>{{cliente.correo}}</td>
                                                </tr>
                                            </table>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="invoice-summary">
                                            <table class="table-bordered text-xs w-100">
                                                <tr>
                                                    <th>Subtotal 15%:</th>
                                                    <td>{{(total / 1.15) - subtotalServicios | currency}}</td><!--No se suman los servicios-->
                                                </tr>
                                                <tr>
                                                    <th>Subtotal 0%:</th>
                                                    <!--Cuando es un servicio-->
                                                    <td>{{subtotalServicios | currency}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Subtotal No Objeto IVA:</th>
                                                    <td>{{0 | currency}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Subtotal Excento IVA:</th>
                                                    <td>{{0 | currency}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Subtotal Sin Impuestos:</th>
                                                    <td>{{0 | currency}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Descuento: </th>
                                                    <td>{{0 | currency}}</td>
                                                </tr>
                                                <tr>
                                                    <th>ICE</th>
                                                    <td>{{0 | currency}}</td>
                                                </tr>
                                                <tr>
                                                    <th>IVA 15%:</th>
                                                    <td>{{(total / 1.15) * 0.15 | currency}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Propina:</th>
                                                    <td>{{0 | currency}}</td>
                                                </tr>
                                                <tr>
                                                    <th>Total:</th>
                                                    <td>{{total | currency}}</td>
                                                </tr>
                                                <tfoot>
                                                    <tr class="table-bordered">
                                                        <th class="bg-primary"><strong>Valor a pagar:</strong></th>
                                                        <td>{{total | currency}}</td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                        
                                    </div>

                                    <button type="button" class="btn btn-primary btn-sm">Imprimir</button>
                                
                                </div>

                            </div>
                        </div>
                    </div>
                    
                </div>
                <!--Modal Factura-->
            </div>
        </div>
    </div>
</section>
